@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
:root {
    --primary-background-color:rgb(31, 113, 167);
    --primary-background-color-dark:rgb(27, 89, 131);
    --primary-background-contrast-color:#fff;
    --danger-background-color: rgb(167, 64, 64);
    --danger-background-color-dark: rgb(117, 40, 40);
    --time: 0.707s;
    --fontName:'Roboto';
    --key-font:'Roboto Mono','Inconsolata';
    --p6:#D0F5E4;
    --p5:#ABEDCF;
    --p4:#8DE7BE;
    --p3:#75E2B0;
    --p2:#62DEA5;
    --p1:#52DB9C;
}
.lightMode {
    --headerBackgroundColor:var(--sectionBackgroundColor);
    --env-block-background-color:#f7f7f7;
    --env-block-font-color:#f7f7f7;
    --env-block-secondary-background-color: #333;
    --env-block-secondary-font-color:#f7f7f7;
    --boxShadow:0 0 14px #33333322;
    --backgroundColor:#f7f7f7;
    --textColor:#202330;
    --textColor-muted:#20233099;
    --sectionBackgroundColor:#fff;
    --primary-background-color:#2863bc;
    --primary-background-color-dark:#204f94;
    --secondary-background-color:#4b4e5f;
    --secondary-background-color-dark:#3d3d3d;
    --secondary-background-contrast-color:#cad1d9;
    --modalBackgroundColor:#fff;
    --borderColor:#eee;
    --keyBackgroundColor:#efefef;
    --keyTextColor:var(--textColor);
    --correct:#6fc26f;
    --correct-light:#6fc26f77;
    --close:#F5E355;
    --close:#ff9100;
    --incorrect:#858585;
    --success:green;
    --element-background-color: rgb(227,228,229);
    --element-background-color-dark: rgb(210, 210, 210);
    --element-font-color:#202330;
    --keyShadow:#cdcdcd;
    --error:#f77d7d;
    --error-contrast:#fff;
    --tooltip-background-color:#333;
    --backdropBackgroundColor:#000000dd;
 
}
.darkMode {
    --headerBackgroundColor:var(--sectionBackgroundColor);
    --env-block-background-color:#3D3E48;
    --env-block-font-color:#f7f7f7;
    --env-block-secondary-background-color: #787878;
    --env-block-secondary-font-color:#f7f7f7;
    --boxShadow:0 0 14px #00000033;
    --backgroundColor:#272731;
    --backdropBackgroundColor:#10101eee;
    --textColor:#e5e5f1;
    --textColor-muted:#8a8a8a;
    --sectionBackgroundColor:#31323B;
    --primary-background-color:#23897f;
    --primary-background-color-dark:#18625b;
    --modalBackgroundColor:var(--backgroundColor);
    --secondary-background-color:#262733;
    --secondary-background-color-dark:#1D1D26;
    --secondary-background-contrast-color:var(--primary-background-color);
    --borderColor:#3D3D4A;
    --keyBackgroundColor:rgb(69, 69, 69);
    --keyTextColor:#fff;
    --correct:#376937;
    --correct-light:#37693757;
    --close:#c87100;
    --incorrect:#141414;
    --success:rgb(90, 228, 90);
    --element-font-color: rgb(227,228,229);
    --element-background-color:#3e3e3e;
    --element-background-color-dark:#464646;
    --keyShadow:#323232;
    --error:#f77d7d;
    --error-contrast:#fff;
    --tooltip-background-color:#111;

}
* {
    padding:0; margin: 0;
}
body {
    color:var(--textColor);
    background-color: var(--backgroundColor);
    font-family: var(--fontName);
}
header {
    background-color: var(--headerBackgroundColor);
    padding:1em;
    display: flex;
    justify-content:space-between;
    .invisible {
        appearance: none;
        border:1px solid var(--textColor);
        padding:6px;
        border-radius: 6px;
        background-color: transparent;
        opacity: .02;
        color:var(--textColor);
    }
}
.section {
    background-color: var(--env-block-background-color);
    padding: 1.5em;
    border-radius: 6px;
}
@mixin introoutro {
    .inner {        
        background-color: var(--sectionBackgroundColor);
}
}
@mixin whiteBox {
    box-shadow: var(--boxShadow);
    border-radius: 8px;
    background-color: var(--sectionBackgroundColor);
}
p.env-text {
    margin:1em 0;
    &.lead {
        line-height: 1.5;
        font-weight: 300;
        font-size: .875em;
    }
}
.logo {
    display: flex;
    justify-content: space-around;
    margin-block-end: .5em;
    font-size: 2em;
    /* test */
    font-family: var(--key-font);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 6px;
    font-size: 1.75em;
}
.wordle {
    padding:2em;    
    width:24vw;
    min-width:300px;
    position: relative;    
    @include whiteBox();
}
.rows {
    display: flex;
    flex-direction: column;
    gap:.5em;
    max-width: 300px;
    @media screen and (max-width:600px) {
        width:75%;
        
    }
    margin:0 auto;
    .row {
        display: flex;
        gap:.5em;
        align-content: stretch;
        justify-content: space-around;
        z-index: 20;
    }
}
.start-button {
    p{
        font-size: .75em;
        text-align: center;
        opacity: .65;
    }
}
.word {
    aspect-ratio: 1/1 ;
    flex-basis: 20%;
    font-size: 1.75em;
    @media screen and (max-width:600px) {
        font-size: 1.25em;        
    }
    font-weight: 600;
    position: relative;
    perspective: 40rem;
    font-family: var(--key-font);
    &__body {
        height: 100%;
        &__front, &__back {
            backface-visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-transform: uppercase;      
            border-radius: 8px;
            border:2px solid transparent;
            color: var(--keyTextColor);
        }
        &__front {
            background-color: var(--keyBackgroundColor);
            transition: background-color .3s;
        }
        &__back {
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            transform: rotatey(-180deg);          
        }
    }
}
.word__body{
    transform-style: preserve-3d;
    transition: var(--time) transform;
}
.flip {
    transform: rotateY(-180deg);
}
.keyboard {
    margin-block-start: .2em;
    display: flex;
    flex-direction: column;    
    gap:.25em;
    &__row {
        display: flex;
        justify-content: space-around;
        gap:.25em;
        align-content: stretch;
    }
    .key {
        background-color: var(--keyBackgroundColor);
        display: flex;
        align-items:center;
        line-height: 1.6;
        justify-content: center;
        font-weight: 600;
        font-size: 1.5em;
        text-transform: uppercase;           
        padding-block: 1%;
        border-radius: 4px;
        cursor: pointer;
        font-family: var(--key-font);
        font-weight: 700;
        flex-grow: 1;
        color: var(--keyTextColor);
        &:active {
            box-shadow: inset 0 0 10px var(--keyShadow);
            transform: scale(90%);
        }
        &.correct {
            background-color: var(--correct) !important;            
        }
        &.close {
            background-color: var(--close);
        }
        &.false {
            background-color: var(--incorrect);
        }
        &.primary {
            background-color: var(--primary-background-color) ;
            color: var(--primary-background-contrast-color)
        }
        &.special {
            flex-grow:3;
            line-height: 1;           
        }
    }
}
.correct {
    background-color:var(--correct);
    border-color:var(--correct);
}
.close {
    border-color:var(--close);
    background-color:var(--close);
}
.false {
    border-color:var(--incorrect);
    background-color:var(--incorrect);
}
.message {
    position: absolute;
    z-index: 999;
    left:50%;
    transform:translateX(-50%);
    opacity: 0;
    p{        
        background-color: var(--error);
        border-radius: 4px;
        color: #000;
        padding:1em;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 600;  
        text-align: center;
        display: flex;
        gap:.5em;
        align-items: center;
        &.no-flex {
            display: block;
            background-color: var(--tooltip-background-color);
            color:#fff;
        }
        .emoji{
            text-align: center;          
            font-size: 2em;
        }
        .letter {
            text-transform: uppercase;
            background-color: var(--correct);
            padding:4px;
            display: inline;
            margin:2px;
            font-size: 16px;
            border-radius: 4px;
            font-family: var(--key-font);
        }
        &.success {
            background-color: rgb(89, 151, 89);
            span {
                text-align: center;
                display: block;
                font-size: 2em;
            }
        }
    }
}
.visible{
    animation: movein 0.5s ease forwards, moveout .3s ease 2.25s forwards;
}
.visible-long{
    animation: movein 0.5s ease forwards, moveout .3s ease 4.25s forwards;
}
@keyframes movein {
    from { top:-100px; opacity: 0;}
    to {top:20px; opacity: 1;}
}
@keyframes moveout {
    from { top:20px;}
    to {top:-100px; opacity: 0;}
}
.win {
    animation: victory .3s ease-in-out forwards;
    z-index:999;
    border-radius: 8px;
    padding:.5em;
    background-color: var(--correct-light);
    
}
.shake {
    animation: shake .3s ease forwards;    
    .word__body__front {
        background-color: var(--error);
    }
}
@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}
@keyframes victory {
    0% {scale: 100%; }
    50% {scale: 140%;}
    100% {scale: 100%;}
}
main {
    padding:2em;
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin:0 auto;
    gap:30px;
    @media screen and (max-width:600px) {
        flex-direction: column;
        padding:4px;
    }
}
.col {
    flex-grow: 2;
}
.startView {
    @include introoutro();
    // display: none;
    h3 {
        margin:2em 0 .5em 0;
    }
    .intro {
        margin:.75em 0;
        line-height: 1.5;
        font-size: .875em;
        // font-family: 'Frank Ruhl Libre';
    }
    button {
        margin:.5em 0;
        // font-family: Inter;
    }
    &.visible {
        display: none;
    }
}
.lb {
    margin:1em 0;
    display: flex;
    flex-direction: column;
    gap:1.5em;
    &__user {
        position: relative;
        padding:.25em .75em;
        display: flex;
        align-items: center;
        gap:.5em;
        background-color: var(--env-block-background-color);
        border-radius: 22px;
        &.currentuser {
        //    background-color: var(--env-block-secondary-background-color);
        //    color:var(--env-block-secondary-font-color);
        border:3px solid var(--primary-background-color);
        }
        &.topThree {
            img {
                position: absolute;
                top:-1px;
                right: -5px;
                width: 54px;
                border-radius: 50%;            
            }
        }
        &__position {
            font-size: 1.25em;
            font-weight: 800;
            color:var(--textcolor);      
            padding:0 12px;            
            &.emoji {
                font-size: 2em;
                padding:0;   
            }
            img {               
                width: 24px;
            }
        }
        &__img {
            position: absolute;
            top:-2px;
            right: -5px;
            width: 38px;
            border-radius: 50%;            
        }
        &__name {
            margin:0;
            font-size: .875em;
            font-weight: 500;
            span{
                font-size: .875em;
                font-weight: 800;
                opacity: .65;
            }
        }
    }
}
.endViewInner {
    padding:3em 3em;
}
.endView {    

    &.hidden {
        display: none;
    }
    @include introoutro();
    .inner {
        padding:0 1.5em;
        background-color: red;
    }
    button.toggleEndView{
        position: absolute;
        top:-5px;
        right:-5px;
        background-color: #202330;
        color:#fff;
        padding:12px;
        border-radius: 50%;
    }
}
.results {
    margin:1em 0;
    display: flex;
    flex-direction: column;
    gap:.25em;
    &__result {
        display: flex;
        gap:.25em;
        label {
            width:10px;
        }
        span {
            font-weight: 800;
        }
        .progress {                
            background-color: var(--incorrect);                                                 
            min-width: 20px;
            padding:0 8px 0 0;
            display: flex;
            justify-content: flex-end;
            &.p1{background-color: var(--p1);}
            &.p2{background-color: var(--p2);}
            &.p3{background-color: var(--p3);}
            &.p4{background-color: var(--p4);}
            &.p5{background-color: var(--p5);}
            &.p6{background-color: var(--p6);}
        }
    }
}
.stats {
    margin:1em 0;
    display: flex;
    gap:1em;
    justify-content: space-between;
    align-items: stretch;
    &__stat{
        background-color: var(--element-background-color);
        background-color: var(--env-block-background-color);
        border-radius: 8px;
        padding:8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 2;
        gap:.25em;
        p {
            text-align: center;
        }
        p:first-child {
            // background-color: lightcoral;
            font-size: 1.5em;
            letter-spacing: -.05em;
            font-weight: 600;
        }
        p:last-child {
            font-size: .875em;
        }
    }
}
.overline {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    margin:.5em 0 .25em 0;
}
.buttons {
    display: flex;
    gap:1em;
    flex-flow: wrap;
    .btn {
        display: flex;
        align-items: center;
    }
    .icon svg {        
        width: 20px;
        height: 20px;
    }
}
.btn {
    border:none;
    appearance: none;
    font-size: 1em;
    font-weight: 500;
    padding:12px 24px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    gap:8px;
    font-weight: 600;
    align-items: center;
    background-color: #e3e4e5;
    background-color: var(--element-background-color);
    color:var(--element-font-color);
    transition: background-color .2s ease-in-out;
    font-family:var(--fontName);
    &:hover {
        background-color: var(--element-background-color-dark);
    }
    img {
        width:24px;
    }
    &.btn-small {
        font-size: .875em;
        padding:8px 14px;
        img {
            width:16px;
        }
    }
    &.btn-primary {
        display: block;
        background-color: var(--primary-background-color);
        color: var(--primary-background-contrast-color);
        text-align: center;
        &:hover {
            background-color: var(--primary-background-color-dark);
        }
        &.w100 {
             width: 100%;
        }
    }
    &.btn-secondary {
        background-color: var(--secondary-background-color);
        .icon {stroke: var(--secondary-background-contrast-color);}
        color: var(--secondary-background-contrast-color);
        &:hover{
            background-color: var(--secondary-background-color-dark);
        }
    }
    &.btn-fejk {
        background-color: var(--element-background-color);
        text-align: center;
        display: flex;
        cursor:default;
        justify-content: center;
    }
    &.btn-link {
        background-color: transparent;
        color:var(--primary-background-color);
        text-decoration: underline;
    }
    &.btn-x {
        padding:8px 12px;
        font-weight: 800;
        font-size: .75em;
        background-color: transparent;
        img {
            width: 18px;
        }
        &:hover {
            background-color: var(--element-background-color);
        }
        &.top-right {
            position: absolute;
            top:8px;
            right:8px;
            
        }
    }
    &.btn-lg {
        font-size: 1.5em;
    }
    &.btn-danger {
        border:1px solid var(--danger-background-color);
        span {
            font-size: 1.5em;
        }
        color:var(--danger-background-color);
        background-color: transparent;
        &:hover {
            border-color: var(--danger-background-color-dark);
            background-color: var(--danger-background-color);
            color:#fff;
        }
    }
}
.res {
    background-color: var(--env-block-background-color);
    border-radius: 12px;
    // color:#202330;
    margin-bottom: 2em;
    &__body {
        padding:1.5em;    
        display: flex;
        gap:1.5em;
        &__color {
            font-size: 1em;
        }
        &__points {
            p:first-child {
                font-weight: 600;
            }
            p:last-child {
                font-size: 3em;
                font-weight: 700;
            }
        }
    }
    &__footer {
        padding:1em;
        display: flex;
        flex-direction: column;
        gap:.5em;
        p {
            opacity: 0;
            font-size: .875em;
            font-weight: 600;
            color:var(--success);
            transition: all .2s ease-in;
            text-align: center;
            &.toggle {
                opacity: 1;
            }
        }
    }
}
.posts {
    display: flex;
    flex-direction: column;
    gap:1.5em;
    &__post {
        @include whiteBox;
        &#fejkPost{
            display: none;
        }
        &__header{
            padding: 1.5em 1.5em .5em 1.5em;
            display: flex;
            gap:.5em;
            img {
                width:48px;
                height:48px;
                border-radius: 6px;
            }
            &__name {
                font-size: 17px;
                font-weight: 600;
                span {
                    opacity: .65;
                    font-weight: 400;
                    font-size: 14px;
                    display: block;
                }
            }
        }
        &__body {
            padding:.5em 1.5em 1.5em 1.5em;
            p {
                line-height: 1.55;
            }
        }
        &__footer {
            border-top:1px solid var(--borderColor);
       
            display: flex;
            justify-content: space-between;
            gap:1.5em;
            button{
                appearance: none;
                border:none;
                background-color: transparent;
                font-size: 1em;
                padding:1em 0;
                flex-grow: 2;
                display: flex;
                justify-content: center;
                .icon svg {
                    width: 18px;
                    height: 18px;
                }
                &:first-child {
                    border-right:1px solid var(--borderColor);
                }
                &:last-child {
                    border-left:1px solid var(--borderColor);
                }
            }
        }
    }
}

.modal {
    z-index:998;
    background-color:var(--backdropBackgroundColor);
    backdrop-filter: blur(4px);
    width:100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    &__inner {      
        display: flex;
        flex-direction: column;
        max-height: 98vh;
        background-color: var(--modalBackgroundColor);
        width:700px;
        position: relative;
        border-radius: 12px;
        @media screen and (max-width:600px) {
            max-height: 99vh;        
        }
        &__header{
            padding-top:1.5em;
        }
        &__body {
            padding:1.5em;
            overflow-y: scroll;
            @media screen and (max-width:600px) {
                padding:.5em;                
            }
            &.contentWrapper {
                height:50vh;
                @media screen and (max-width:600px) {
                    height: auto;        
                }
            }
        }    
        &__footer {        
            border-top:1px solid var(--borderColor);
            padding: 1.5em;
            @media screen and (max-width:600px) {
                padding:.5em 1em 2em 1em;                
            }
        }
    }
    &.toggle {
        display: flex;
    }
}
article { 
    @include whiteBox();
    img {
        border-start-end-radius: 8px;
        border-start-start-radius: 8px;
        width:100%;
        margin-block-end: 20px;
    }
    h2, p {
        padding:0 1.5rem;
        input {
            margin:1rem;
        }
    }
}
.output{
    max-width: 200px;
}
.js-output{
    position: absolute;
    top:-200px;
    right:200px;
}
.switchContainer {
    display: flex;
    gap:.5em;
    align-items: center;
    p {
        font-size: 1em;
        font-weight: 600;
        opacity: .65;
    }
}
.icon {
    width:24px;
    height: 24px;
    fill: none;
    stroke: var(--textColor);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
}
.help-example {
    padding:1em 0;
    display: flex;
    gap:.5em;
    span {
        color: var(--keyTextColor);
        padding:12px 18px;
        background-color: var(--incorrect);
        font-family: var(--key-font);
        font-weight: 700;
        font-size: 2em;
        border-radius: 4px;
        &:nth-child(2) {
            background-color: var(--close);
        }
        &:last-child {
            background-color: var(--correct);
        }
    }
}
.help-word {
    font-weight: 600;
    color: var(--keyTextColor);
    padding:2px 6px;
    border-radius: 4px;
    &.help-word-correct {
        background-color: var(--correct);
    }
    &.help-word-close {
        background-color: var(--close);
    }
    &.help-word-incorrect {
        background-color: var(--incorrect);
    }
}
nav {
    padding:0 1.5em;
    display: flex;
    gap:1em;
    margin-top:1.5em;
    border-bottom: 1px solid var(--borderColor);
    a {
        text-decoration: none;
        color: var(--textColor);
        padding:2px 4px 8px 4px;
        display: flex;
        gap:.5em;
        span.icon {
            width:20px;
            height:20px;
            stroke: var(--textColor);
        }
        &.active {
            color:var(--textColor);
            .icon{stroke: var(--textColor);}         
            border-bottom:4px solid var(--primary-background-color);
        }
    }
}
.content {
    display: none;
    &.active{
        display: block;
    }
}
.lp {
    width:650px;
    position: absolute;
    margin: 0 auto;
    lottie-player {
        margin-right:calc(50% - 650px);
    }
    z-index: 1;
    display: none;

}
.upsale {
    background-color: #f7e91d55;
    border-radius: 12px;
    margin:1em 0;
    padding:1em;
    display: none;
}