@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600&family=Inconsolata:wght@400;500;600;700&family=Inter:wght@400;500;600;700;800&family=Pacifico&display=swap");
:root {
  --primary-background-color:rgb(31, 113, 167);
  --primary-background-color-dark:rgb(27, 89, 131);
  --primary-background-contrast-color:#fff;
  --danger-background-color: rgb(167, 64, 64);
  --danger-background-color-dark: rgb(117, 40, 40);
  --time: 0.707s;
  --p6:#D0F5E4;
  --p5:#ABEDCF;
  --p4:#8DE7BE;
  --p3:#75E2B0;
  --p2:#62DEA5;
  --p1:#52DB9C;
}

.lightMode {
  --headerBackgroundColor:var(--sectionBackgroundColor);
  --blockBackgroundColor:#f7f7f7;
  --boxShadow:0 0 14px #33333322;
  --backgroundColor:#f7f7f7;
  --textColor:#202330;
  --textColor-muted:#20233099;
  --sectionBackgroundColor:#fff;
  --primary-background-color:#2863bc;
  --primary-background-color-dark:#204f94;
  --secondary-background-color:#4b4e5f;
  --secondary-background-color-dark:#3d3d3d;
  --secondary-background-contrast-color:#cad1d9;
  --modalBackgroundColor:#fff;
  --borderColor:#eee;
  --keyBackgroundColor:#efefef;
  --keyTextColor:var(--textColor);
  --correct:#6fc26f;
  --correct-light:#6fc26f77;
  --close:#F5E355;
  --close:#ff9100;
  --incorrect:#858585;
  --success:green;
  --element-background-color: rgb(227,228,229);
  --element-background-color-dark: rgb(210, 210, 210);
  --element-font-color:#202330;
  --keyShadow:#cdcdcd;
  --error:#f77d7d;
  --error-contrast:#fff;
}

.darkMode {
  --headerBackgroundColor:var(--sectionBackgroundColor);
  --blockBackgroundColor:#2d2d2d;
  --boxShadow:0 0 14px #00000033;
  --backgroundColor:#121212;
  --textColor:#c6c6c6;
  --textColor-muted:#8a8a8a;
  --sectionBackgroundColor:#222222;
  --primary-background-color:#7b1382;
  --primary-background-color-dark:#a418ae;
  --secondary-background-color:#101010;
  --secondary-background-color-dark:#434343;
  --secondary-background-contrast-color:#989898;
  --modalBackgroundColor:#272727;
  --borderColor:#505050;
  --keyBackgroundColor:rgb(69, 69, 69);
  --keyTextColor:#fff;
  --correct:#376937;
  --correct-light:#37693757;
  --close:#c87100;
  --incorrect:#141414;
  --success:rgb(90, 228, 90);
  --element-font-color: rgb(227,228,229);
  --element-background-color:#3e3e3e;
  --element-background-color-dark:#464646;
  --keyShadow:#323232;
  --error:#f77d7d;
  --error-contrast:#fff;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--textColor);
  background-color: var(--backgroundColor);
  font-family: Inter;
}

header {
  background-color: var(--headerBackgroundColor);
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}

.section {
  background-color: var(--blockBackgroundColor);
  padding: 1.5em;
  border-radius: 6px;
}

p.env-text {
  margin: 1em 0;
}
p.env-text.lead {
  font-family: "Frank Ruhl Libre";
  line-height: 1.5;
  font-weight: 300;
}

.logo {
  display: flex;
  justify-content: space-around;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
  font-family: Pacifico;
  font-size: 2em;
}

.wordle {
  font-family: Inter;
  padding: 2em;
  width: 24vw;
  min-width: 300px;
  position: relative;
  box-shadow: var(--boxShadow);
  border-radius: 8px;
  background-color: var(--sectionBackgroundColor);
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 300px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .rows {
    width: 75%;
  }
}
.rows .row {
  display: flex;
  gap: 0.5em;
  align-content: stretch;
  justify-content: space-around;
  z-index: 20;
}

.word {
  aspect-ratio: 1/1;
  flex-basis: 20%;
  font-size: 1.75em;
  font-weight: 600;
  position: relative;
  perspective: 40rem;
  font-family: "Inconsolata";
}
@media screen and (max-width: 600px) {
  .word {
    font-size: 1.25em;
  }
}
.word__body {
  height: 100%;
}
.word__body__front, .word__body__back {
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
  border-radius: 8px;
  border: 2px solid transparent;
  color: var(--keyTextColor);
}
.word__body__front {
  background-color: var(--keyBackgroundColor);
  transition: background-color 0.3s;
}
.word__body__back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: rotatey(-180deg);
}

.word__body {
  transform-style: preserve-3d;
  transition: var(--time) transform;
}

.flip {
  transform: rotateY(-180deg);
}

.keyboard {
  -webkit-margin-before: 0.2em;
          margin-block-start: 0.2em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.keyboard__row {
  display: flex;
  justify-content: space-around;
  gap: 0.25em;
  align-content: stretch;
}
.keyboard .key {
  background-color: var(--keyBackgroundColor);
  display: flex;
  align-items: center;
  line-height: 1.6;
  justify-content: center;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-block: 1%;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Inconsolata";
  font-weight: 700;
  flex-grow: 1;
  color: var(--keyTextColor);
}
.keyboard .key:active {
  box-shadow: inset 0 0 10px var(--keyShadow);
  transform: scale(90%);
}
.keyboard .key.correct {
  background-color: var(--correct) !important;
}
.keyboard .key.close {
  background-color: var(--close);
}
.keyboard .key.false {
  background-color: var(--incorrect);
}
.keyboard .key.primary {
  background-color: var(--primary-background-color);
  color: var(--primary-background-contrast-color);
}
.keyboard .key.special {
  flex-grow: 3;
  line-height: 1;
}

.correct {
  background-color: var(--correct);
  border-color: var(--correct);
}

.close {
  border-color: var(--close);
  background-color: var(--close);
}

.false {
  border-color: var(--incorrect);
  background-color: var(--incorrect);
}

.message {
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.message p {
  background-color: var(--error);
  border-radius: 4px;
  color: #000;
  padding: 1em;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.message p span {
  text-align: center;
  font-size: 2em;
}
.message p.success {
  background-color: rgb(89, 151, 89);
}
.message p.success span {
  text-align: center;
  display: block;
  font-size: 2em;
}

.visible {
  animation: movein 0.5s ease forwards, moveout 0.3s ease 2.25s forwards;
}

@keyframes movein {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}
@keyframes moveout {
  from {
    top: 20px;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}
.win {
  animation: victory 0.3s ease-in-out forwards;
  z-index: 999;
  border-radius: 8px;
  padding: 0.5em;
  background-color: var(--correct-light);
}

.shake {
  animation: shake 0.3s ease forwards;
}
.shake .word__body__front {
  background-color: var(--error);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes victory {
  0% {
    scale: 100%;
  }
  50% {
    scale: 140%;
  }
  100% {
    scale: 100%;
  }
}
main {
  padding: 2em;
  display: flex;
  flex-direction: row;
  max-width: 90%;
  margin: 0 auto;
  gap: 30px;
}
@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
    padding: 4px;
  }
}

.col {
  flex-grow: 2;
}

.startView .inner {
  background-color: var(--sectionBackgroundColor);
}
.startView h3 {
  margin: 2em 0 0.5em 0;
}
.startView .intro {
  margin: 0.75em 0;
  font-family: "Frank Ruhl Libre";
}
.startView button {
  margin: 0.5em 0;
  font-family: Inter;
}
.startView.visible {
  display: none;
}

.lb {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.lb__user {
  position: relative;
  padding: 0.25em 0.75em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-bottom: 1px solid var(--borderColor);
}
.lb__user.currentuser {
  border: 2px solid #888;
}
.lb__user__position {
  font-size: 27px;
  font-weight: 800;
  color: #ddd;
}
.lb__user__position img {
  width: 24px;
}
.lb__user__img {
  width: 24px;
  border-radius: 6px;
}
.lb__user__name {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
.lb__user__points {
  margin: 0;
  font-size: 16px;
  font-weight: 800;
  margin-left: auto;
}

.endViewInner {
  padding: 3em 3em;
}

.endView.hidden {
  display: none;
}
.endView .inner {
  background-color: var(--sectionBackgroundColor);
}
.endView .inner {
  padding: 0 1.5em;
  background-color: red;
}
.endView button.toggleEndView {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #202330;
  color: #fff;
  padding: 12px;
  border-radius: 50%;
}

.results {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.results__result {
  display: flex;
  gap: 0.25em;
}
.results__result label {
  width: 10px;
}
.results__result span {
  font-weight: 800;
}
.results__result .progress {
  background-color: var(--incorrect);
  min-width: 20px;
  padding: 0 8px 0 0;
  display: flex;
  justify-content: flex-end;
}
.results__result .progress.p1 {
  background-color: var(--p1);
}
.results__result .progress.p2 {
  background-color: var(--p2);
}
.results__result .progress.p3 {
  background-color: var(--p3);
}
.results__result .progress.p4 {
  background-color: var(--p4);
}
.results__result .progress.p5 {
  background-color: var(--p5);
}
.results__result .progress.p6 {
  background-color: var(--p6);
}

.stats {
  margin: 1em 0;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: stretch;
}
.stats__stat {
  background-color: var(--element-background-color);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  gap: 0.25em;
}
.stats__stat p {
  text-align: center;
}
.stats__stat p:first-child {
  font-size: 1.5em;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.stats__stat p:last-child {
  font-size: 0.875em;
}

.overline {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0.5em 0 0.25em 0;
}

.buttons {
  display: flex;
  gap: 1em;
  flex-flow: wrap;
}
.buttons .btn {
  display: flex;
  align-items: center;
}
.buttons .icon svg {
  width: 20px;
  height: 20px;
}

.btn {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1em;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #e3e4e5;
  background-color: var(--element-background-color);
  color: var(--element-font-color);
  transition: background-color 0.2s ease-in-out;
}
.btn:hover {
  background-color: var(--element-background-color-dark);
}
.btn img {
  width: 24px;
}
.btn.btn-small {
  font-size: 0.875em;
  padding: 8px 14px;
}
.btn.btn-small img {
  width: 16px;
}
.btn.btn-primary {
  display: block;
  background-color: var(--primary-background-color);
  color: var(--primary-background-contrast-color);
  text-align: center;
}
.btn.btn-primary:hover {
  background-color: var(--primary-background-color-dark);
}
.btn.btn-primary.w100 {
  width: 100%;
}
.btn.btn-secondary {
  background-color: var(--secondary-background-color);
  color: var(--secondary-background-contrast-color);
}
.btn.btn-secondary .icon {
  stroke: var(--secondary-background-contrast-color);
}
.btn.btn-secondary:hover {
  background-color: var(--secondary-background-color-dark);
}
.btn.btn-fejk {
  background-color: var(--element-background-color);
  text-align: center;
  display: none;
  cursor: default;
}
.btn.btn-link {
  background-color: transparent;
  color: var(--primary-background-color);
  text-decoration: underline;
}
.btn.btn-x {
  padding: 8px 12px;
  font-weight: 800;
  font-size: 0.75em;
  background-color: transparent;
}
.btn.btn-x img {
  width: 18px;
}
.btn.btn-x:hover {
  background-color: var(--element-background-color);
}
.btn.btn-x.top-right {
  position: absolute;
  top: 8px;
  right: 8px;
}
.btn.btn-lg {
  font-size: 1.5em;
}
.btn.btn-danger {
  border: 1px solid var(--danger-background-color);
  color: var(--danger-background-color);
  background-color: transparent;
}
.btn.btn-danger span {
  font-size: 1.5em;
}
.btn.btn-danger:hover {
  border-color: var(--danger-background-color-dark);
  background-color: var(--danger-background-color);
  color: #fff;
}

.res {
  background-color: var(--blockBackgroundColor);
  border-radius: 12px;
  margin-bottom: 2em;
}
.res__body {
  padding: 1.5em;
  display: flex;
  gap: 1.5em;
}
.res__body__color {
  font-size: 1em;
}
.res__body__points p:first-child {
  font-weight: 600;
}
.res__body__points p:last-child {
  font-size: 3em;
  font-weight: 700;
}
.res__footer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.res__footer p {
  opacity: 0;
  font-size: 0.875em;
  color: var(--success);
  transition: all 0.2s ease-in;
}
.res__footer p.toggle {
  opacity: 1;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.posts__post {
  box-shadow: var(--boxShadow);
  border-radius: 8px;
  background-color: var(--sectionBackgroundColor);
}
.posts__post#fejkPost {
  display: none;
}
.posts__post__header {
  padding: 1.5em 1.5em 0.5em 1.5em;
  display: flex;
  gap: 0.5em;
}
.posts__post__header img {
  width: 48px;
  height: 48px;
  border-radius: 6px;
}
.posts__post__header__name {
  font-size: 18px;
  font-weight: 600;
}
.posts__post__header__name span {
  opacity: 0.65;
  font-weight: 400;
  font-size: 14px;
  display: block;
}
.posts__post__body {
  padding: 0.5em 1.5em;
}
.posts__post__body p {
  line-height: 1.5;
}
.posts__post__footer {
  border-top: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}
.posts__post__footer button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  font-size: 1em;
  padding: 1em 0;
  flex-grow: 2;
  display: flex;
  justify-content: center;
}
.posts__post__footer button .icon svg {
  width: 18px;
  height: 18px;
}
.posts__post__footer button:first-child {
  border-right: 1px solid var(--borderColor);
}
.posts__post__footer button:last-child {
  border-left: 1px solid var(--borderColor);
}

.modal {
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.8666666667);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
.modal__inner {
  display: flex;
  flex-direction: column;
  max-height: 98vh;
  background-color: var(--modalBackgroundColor);
  width: 700px;
  position: relative;
  border-radius: 12px;
}
@media screen and (max-width: 600px) {
  .modal__inner {
    max-height: 99vh;
  }
}
.modal__inner__header {
  padding-top: 1.5em;
}
.modal__inner__body {
  padding: 1.5em;
  overflow-y: scroll;
}
@media screen and (max-width: 600px) {
  .modal__inner__body {
    padding: 0.5em;
  }
}
.modal__inner__body.contentWrapper {
  height: 50vh;
}
@media screen and (max-width: 600px) {
  .modal__inner__body.contentWrapper {
    height: auto;
  }
}
.modal__inner__footer {
  border-top: 1px solid var(--borderColor);
  padding: 1.5em;
}
@media screen and (max-width: 600px) {
  .modal__inner__footer {
    padding: 0.5em 1em 2em 1em;
  }
}
.modal.toggle {
  display: flex;
}

article {
  box-shadow: var(--boxShadow);
  border-radius: 8px;
  background-color: var(--sectionBackgroundColor);
}
article img {
  border-start-end-radius: 8px;
  border-start-start-radius: 8px;
  width: 100%;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
}
article h2, article p {
  padding: 0 1.5rem;
}
article h2 input, article p input {
  margin: 1rem;
}

.output {
  max-width: 200px;
}

.js-output {
  position: absolute;
  top: -200px;
  right: 200px;
}

.switchContainer {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.switchContainer p {
  font-size: 0.875em;
}

.icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: var(--textColor);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

.help-example {
  padding: 1em 0;
  display: flex;
  gap: 0.5em;
}
.help-example span {
  color: var(--keyTextColor);
  padding: 12px 18px;
  background-color: var(--incorrect);
  font-family: "Inconsolata";
  font-weight: 700;
  font-size: 2em;
  border-radius: 4px;
}
.help-example span:nth-child(2) {
  background-color: var(--close);
}
.help-example span:last-child {
  background-color: var(--correct);
}

.help-word {
  font-weight: 600;
  color: var(--keyTextColor);
  padding: 2px 6px;
  border-radius: 4px;
}
.help-word.help-word-correct {
  background-color: var(--correct);
}
.help-word.help-word-close {
  background-color: var(--close);
}
.help-word.help-word-incorrect {
  background-color: var(--incorrect);
}

nav {
  padding: 0 1.5em;
  display: flex;
  gap: 1em;
  border-bottom: 1px solid var(--borderColor);
}
nav a {
  text-decoration: none;
  color: var(--textColor);
  padding: 2px 4px 8px 4px;
  display: flex;
  gap: 0.5em;
}
nav a span.icon {
  width: 20px;
  height: 20px;
  stroke: var(--textColor);
}
nav a.active {
  color: var(--textColor);
  border-bottom: 4px solid var(--primary-background-color);
}
nav a.active .icon {
  stroke: var(--textColor);
}

.content {
  display: none;
}
.content.active {
  display: block;
}

.lp {
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  display: none;
}
.lp lottie-player {
  margin-right: calc(50% - 650px);
}/*# sourceMappingURL=style.css.map */